{% extends 'base.html' %}
{% block title %}
  Home Page
{%endblock%}

{% block content%}
<div class = "container">
    <form method="POST" class = "form-register" style = "color: white;" action="">
        {{ form.hidden_tag() }}
        <img style=" align-items: center;  margin-top: 20px; height: 15rem;width: auto; border-radius: 1rem;" src="{{ url_for('static', filename='images/login.jpg') }}" >
        <br>
        <h1 class="h3 mb-3 font-weight-normal">PLEASE FILL IN THE INFOMATION </h1>
        <br>
        {{form.username.label()}}
        {{form.username(class="form-control",placeholder = "User Name")}}

        {{form.password.label()}}
        {{form.password(class="form-control",placeholder = "Enter your password")}}
        <br>
        <div class = "custom-checkbox mb-3">
            <h6> Do you have an account ? </h6>
            <a class="btn btn-sm btn-secondary" href="{{url_for('register_page')}}"> Register </a>
        </div>
        {{ form.submit(class = "btn btn-lg btn-block btn-primary") }}
    </form>

    <div class="text-wrapper-4"><a href="{{url_for('reset_request')}}">Quên mật khẩu?</a></div>
</div>
{%endblock%}