{% extends 'base.html' %}
{% block title %}
  Search
{%endblock%}

{% block content %}
<form method="POST">
    <input type="text" name="search_query" placeholder="Search for a song">
    <button type="submit">Search</button>
</form>
<h1>Search Results</h1>
<ul>
    {% for song in search_results %}
        <li>
            <img src="{{ song.img }}" alt="{{ song.title }}" width="50" height="50">
            {{ song.title }}
            <a href="{{ url_for('play_song', song_id=song.id_track) }}">Play</a>
            <a href="{{ url_for('add_to_playlist', song_id=song.id_track) }}">Add to Playlist</a>
        </li>
    {% endfor %}
</ul>

<style>
    .song-info {
        display: flex;
        align-items: center;
    }

    .song-actions {
        margin-left: 10px;
    }
</style>


{% endblock %}